<div>
<main class="content">
  <div class="crud-header">
    <h2>Liste des élèves</h2>
    <button class="add-student" routerLink="/sidebar/add-teacher">Ajouter un Professeur</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Genre</th>
      <th>Matricule</th>
      <th>Ville</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Dupont</td>
      <td>Jean</td>
      <td>Masculin</td>
      <td>12345</td>
      <td>Paris</td>
      <td>
        <button class="edit">Modifier</button>
        <button class="delete">Supprimer</button>
      </td>
    </tr>
    <tr>
      <td>Martin</td>
      <td>Lucie</td>
      <td>Féminin</td>
      <td>67890</td>
      <td>Lyon</td>
      <td>
        <button class="edit">Modifier</button>
        <button class="delete">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</div>
