<div>
  <main class="content">
    <div class="form-header">
      <h2>Modifier un élève</h2>
    </div>
    <div class="form-container">
      <form action="#">
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom">

        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom">

        <label for="matricule">Matricule</label>
        <input type="text" id="matricule" name="matricule">

        <label for="genre">Genre</label>
        <select id="genre" name="genre">
          <option value="homme">Homme</option>
          <option value="femme">Femme</option>
        </select>

        <div class="buttons">
          <button type="submit" class="save">Modifier</button>
          <button type="reset" class="delete">Annuler</button>
        </div>
      </form>
    </div>
  </main>
</div>
