<body>
<div class="container">
  <aside class="sidebar">
    <h2>Menu principal</h2>
    <ul>
      <li><a routerLink="/sidebar/dashboard">Tableau de bord</a></li>
      <li><a routerLink="/sidebar/list-student"> Élèves</a></li>
      <li ><a routerLink="/sidebar/list-teacher">Professeurs</a></li>
      <li ><a routerLink="/sidebar/list-user">Utilisateurs</a></li>
      <li><a routerLink="/sidebar/repport"> Rapport</a></li>
    </ul>
    <button class="logout" routerLink="/login" >Déconnexion</button>
  </aside>
  <router-outlet></router-outlet>
  </div>

</body>

