<div class="main-content">
  <main>
    <div class="retour-container">
      <a href="#" class="retour">← Retour</a>
    </div>
    <h2>Ajouter un utilisateur</h2>
    <form [formGroup]="forms">
      <div class="form-row">
        <input type="text" formControlName="pseudo" class="form-control" placeholder="Entrez le pseudo" [class.is-invalid]="isInvalidateInput(forms.controls['pseudo'])">
      </div>
      <div class="form-row">
        <input type="text" formControlName="password" class="form-control" placeholder="Entrez le mot de passe" [class.is-invalid]="isInvalidateInput(forms.controls['password'])">
      </div>
      <div class="form-row">
        <input type="text" formControlName="addPassword" class="form-control" placeholder="Confirmez le mot de passe" [class.is-invalid]="isInvalidateInput(forms.controls['addPassword'])">
      </div>
      <div class="form-row buttons">
        <button type="button" class="btn-cancel">Annuler</button>
        <button type="submit" class="btn-save">Enregistrer</button>
      </div>
    </form>
  </main>
</div>

<script src="../js/Home.js"></script>
