* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f5;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.sidebar ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.sidebar ul li {
  margin: 15px 0;
  font-size: 1.1em;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #34495e;
  border-radius: 5px;
}

.logout {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 30px;
  background-color: #ecf0f1;
}

.form-header {
  margin-bottom: 20px;
}

.form-header h2 {
  color: #2c3e50;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 50%;
}

form {
  display: flex;
  gap: 20px ;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

input, select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.save {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.delete {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.save:hover, .delete:hover {
  opacity: 0.9;
}
